{% extends 'main/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% load static %}

{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <p>
            Аквамолл 32 мин 4.83 ш. Московское, 104 Доставка и самовывоз 09:00 — 00:00 Ресторан 09:00 — 00:00
            Верхняя Терраса 32 мин 4.73 ул. Привокзальная, 9а Доставка и самовывоз 09:00 — 00:00 Ресторан 09:00 — 00:00
            Киндяковка 33 мин 4.79 ул. Варейкиса, 2Д Доставка и самовывоз Пн - Ср: 09:00 — 00:00 Чт - Вс: 09:00 — 03:00 Ресторан 09:00 — 00:00
            Север 26 мин 4.74 ул. Скочилова, 2а Доставка и самовывоз 09:00 — 00:00 Ресторан 09:00 — 00:00
            Центр 30 мин 4.72 ул. Гончарова, 30 Доставка и самовывоз Круглосуточно Ресторан Пн: 12:00 — 00:00 Вт - Вс: Круглосуточно
        </p>

    </div>
{% endblock %}