{% extends 'main/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% load static %}

{% block content %}
    <div class="features_news">
        <h1>Закуски</h1>
    </div>

<div class="perv-lin">
    <div class="tovar-card">
        <img src="{% static 'main/img/img_13.png' %}" alt="tovar 1">
        <h5>Сырные палочки с чесноком</h5>
        <p class="price">249р</p>
        <a href="#" class="buy-btn">Купить</a>
    </div>

    <div class="tovar-card">
        <img src="{% static 'main/img/img_12.png' %}" alt="tovar 2">
        <h5>Картофель из печи</h5>
        <p class="price">209р</p>
        <a href="#" class="buy-btn">Купить</a>
    </div>

    <div class="tovar-card">
        <img src="{% static 'main/img/img_14.png' %}" alt="tovar 3">
        <h5>Куриные крылья</h5>
        <p class="price">379р</p>
        <a href="#" class="buy-btn">Купить</a>
    </div>
</div>

<div class="vtor-lin">
    <div class="tovar-card">
        <img src="{% static 'main/img/img_15.png' %}" alt="tovar 4">
        <h5>Куриные кусочки</h5>
        <p class="price">379р</p>
        <a href="#" class="buy-btn">Купить</a>
    </div>

    <div class="tovar-card">
        <img src="{% static 'main/img/img_16.png' %}" alt="tovar 5">
        <h5>Салат цезарь</h5>
        <p class="price">220р</p>
        <a href="#" class="buy-btn">Купить</a>
    </div>

    <div class="tovar-card">
        <img src="{% static 'main/img/img_17.png' %}" alt="tovar 6">
        <h5>Картофель из печи с соусом</h5>
        <p class="price">229р</p>
        <a href="#" class="buy-btn">Купить</a>
    </div>
</div>
{% endblock %}